# Fraud Detection Analysis

In [16]:
import pandas as pd
from pandas_profiling import ProfileReport

In [17]:
dataset = pd.read_csv('../data/processed/fraud_dataset_example_processed.csv')
dataset.head()

,isFraud,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest
0,0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0
1,0,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0
2,1,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0
3,1,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0
4,0,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0

In [19]:
pd.get_dummies(data=dataset, columns=['type'])

,isFraud,step,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,0,1,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,0,1,0
1,0,1,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,0,1,0
2,1,1,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,0,0,0,0,1
3,1,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,0,1,0,0,0
4,0,1,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101608,0,10,7477.02,C513257306,785.00,0.00,M524833426,0.00,0.00,0,0,0,1,0
101609,0,10,282252.35,C210473293,220339.29,0.00,C1172042998,95156.01,91286.97,0,1,0,0,0
101610,0,10,17289.01,C807582280,0.00,0.00,M334249577,0.00,0.00,0,0,0,1,0
101611,0,10,1347146.45,C1315779140,1605.00,0.00,C1631408038,541639.43,2186953.43,0,0,0,0,1
101612,0,10,469539.21,C515691325,31133.00,0.00,C1383702768,0.00,469539.21,0,1,0,0,0